.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6c5f3;
}
#header{
    background-color: rgb(178, 170, 248);
    text-align: center;
    padding: 5px 100px;
    position: sticky; 
    font-size: 25px;
}

.isi{
    margin: 10px;
}

.isi h2:hover{
    color: #113985;
    font-size: 30px;
}

.isi p{
    font-size: 20px;
}

.isi ul{
    font-size: 20px;
}

.isi ol{
    font-size: 20px;
}